body,
html {
	background: #000;
	font-family: "Bitstream Vera Sans", "Lucida Grande", "Lucida Sans Unicode",
		Lucidux, Verdana, Lucida, sans-serif;
	color: #fff;
}

tr:nth-child(even) {
	background: #111;
}
th,
td {
	padding: 0.1em 0.5em;
}
th {
	text-align: left;
	font-weight: bold;
	background: #111;
	border-bottom: 1px solid #555;
}
#list {
	border: 1px solid #555;
	width: 100%;
}
a {
	color: #a33;
}
a:hover {
	color: #e33;
}
